:root {
  --color-primary-dark: #181817;
  --color-primary-normal: #ff9f0e;
  --color-primary-light: #fff;
  --color-secondary-dark: #839aa9;
  --color-secondary-brand: #fcb62a;
  --color-secondary-light: #fffaf3;
  --color-secondary-normal: #d9a6ff;
  --color-secondary-extra: #f9f9ff;
  --color-extra-light: #ff6e9f;
}

$bp-mobile: 484px;
$bp-tablet: 768px;
$bp-desktop: 1200px;
