.carousel-button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  flex-shrink: 0;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  border: none;
  background-color: var(--color-secondary-dark);
  fill: var(--color-primary-light);
  transition: background-color 0.2s;

  &:hover {
    background-color: var(--color-primary-normal);
  }

  &.next {
    transform: rotate(180deg);
  }
}
