.input {
  position: relative;

  &__label {
    height: 24px;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 8px;
    margin-left: 24px;

    @media screen and (min-width: $bp-tablet) {
      margin-left: 40px;
    }
  }

  &__label-image {
    fill: var(--color-primary-normal);

    @media screen and (min-width: $bp-tablet) {
      width: 32px;
      height: 32px;
    }
  }

  &__control {
    width: 100%;
    padding: 11px 24px 11px 56px;
    border-radius: 8px;
    border: 1px solid var(--color-primary-normal);
    font-size: 16px;
    background-color: transparent;

    @media screen and (min-width: $bp-tablet) {
      padding: 13px 35px 13px 80px;
      font-size: 18px;
      letter-spacing: 0.9px;
      line-height: 1.3;
    }

    &:focus {
      outline: none;
    }

    &::placeholder {
      font-size: 16px;
      color: var(--color-primary-normal);
      transition: color 0.2s;

      @media screen and (min-width: $bp-tablet) {
        font-size: 18px;
        letter-spacing: 0.9px;
        line-height: 1.3;
      }
    }

    &:hover::placeholder {
      color: var(--color-primary-dark);
    }

    &:focus::placeholder {
      color: var(--color-primary-dark);
    }
  }

  .error &__control {
    border-color: var(--color-secondary-dark);
  }

  .error-text {
    color: var(--color-primary-normal);
    margin-bottom: 0;
    text-align: left;
    margin-top: 10px;
    font-size: 14px;
  }
}
