.service-card {
  padding: 47px 72px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 16px;
  border: 1px solid var(--color-secondary-extra);
  background: linear-gradient(180deg, #fff 0%, #fffbf4 100%);
  box-shadow: 0px 4px 4px 0px rgba(24, 24, 23, 0.05);
  width: 240px;
  height: 240px;

  &__link {
    text-decoration: none;
  }

  &__image {
    width: 96px;
    height: 96px;
  }

  &__name {
    color: var(--color-primary-normal);
    font-size: 22px;
    font-weight: 500;
    margin-bottom: 0;
    margin-top: 24px;
  }
}
