.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgba(24, 24, 23, 0.4);
  transition: visibility 0.2s, opacity 0.2s;
  z-index: 10;
  padding: 20px;

  &.is-hidden {
    pointer-events: none;
    visibility: hidden;
    opacity: 0;
  }
}

.modal {
  max-width: 880px;
  width: 100%;
  max-height: 880px;
  height: 100%;
  position: relative;
  overflow-y: auto;
  background-color: var(--color-secondary-light);
  border-radius: 32px;
  padding: 20px;
  text-align: center;
  z-index: -2;

  &__btn-close {
    position: sticky;
    top: 0;
    left: 100%;
    background-color: transparent;
    padding: 0;
    border: none;
    cursor: pointer;
  }

  &__container {
    max-width: 600px;
    margin: auto;
  }

  &__title {
    margin-bottom: 16px;
    font-size: 48px;
    line-height: 1.1;
    font-family: 'Rowdies', display;
  }

  &__text {
    text-align: center;
    color: var(--color-secondary-dark);
    line-height: 1.3;
    letter-spacing: 0.9px;
    margin-bottom: 16px;
  }

  &__form-field {
    margin-bottom: 24px;
  }

  &__button {
    margin: 0 auto;
  }

  .submit-text {
    color: var(--color-primary-normal);
    margin-bottom: 0;
    margin-top: 10px;
  }

  &__background-paw-first {
    top: 40px;
    right: 112px;
  }

  &__background-paw-second {
    top: 190px;
    left: 0;
  }

  &__background-paw-second-image {
    transform: rotate(-70deg);
  }

  &__background-paw-third {
    bottom: 13px;
    right: 63px;
  }

  &__background-paw-fourth {
    bottom: -40px;
    left: -20px;
  }

  &__background-paw-fourth-image {
    transform: rotate(170deg);
  }
}
