.learn-more-btn {
  width: 95px;
  height: 72px;
  background-image: url('/images/backgrounds/learn-more-background.png');
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;

  @media screen and (min-width: $bp-desktop) {
    width: 161px;
    height: 123px;
  }

  &__image {
    width: 41px;
    height: 41px;

    @media screen and (min-width: $bp-desktop) {
      width: 81px;
      height: 75px;
    }
  }
}
