.services-section {
  padding-top: 70px;
  padding-bottom: 20px;
  position: relative;

  @media screen and (min-width: $bp-tablet) {
    padding-top: 94px;
    padding-bottom: 0;
  }

  &__container {
    @media screen and (min-width: $bp-desktop) {
      position: relative;
    }
  }

  &__arrow {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: block;
      position: absolute;
      top: 0;
      right: -30px;
      fill: var(--color-secondary-brand);
      transform: translateY(-50%);
    }
  }

  &__title {
    margin-bottom: 24px;

    @media screen and (min-width: $bp-tablet) {
      margin-bottom: 48px;
    }
  }

  &__content {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;

    @media screen and (min-width: $bp-desktop) {
      align-items: flex-end;
      flex-direction: row;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    gap: 24px;
    align-items: center;

    @media screen and (min-width: $bp-tablet) {
      justify-content: center;
      flex-wrap: wrap;
      flex-direction: row;
      align-items: flex-start;
    }
  }

  &__item:nth-child(n + 2) {
    display: none;

    @media screen and (min-width: $bp-tablet) {
      display: block;
    }
  }

  &__item:nth-child(n + 4) {
    display: none;

    @media screen and (min-width: $bp-desktop) {
      display: block;
    }
  }

  &__button {
    position: relative;
  }

  &__link {
    color: var(--color-primary-normal);
    line-height: 1.3;
    letter-spacing: 0.9px;
    text-decoration: none;
    margin-right: 24px;

    &::after {
      content: '';
      width: 41px;
      height: 16px;
      background-image: url('/images/index/Arrow.png');
      position: absolute;
      transform: translate(20%, 30%);
    }
  }

  &__background {
    position: absolute;
    width: 100%;
    top: 110px;
    left: 0;
    z-index: -1;
    transform: scaleY(2.5);

    @media screen and (min-width: $bp-tablet) {
      top: 30px;
      transform: scaleY(1);
    }
  }

  &__background-image {
    width: 100%;
    height: 100%;
  }
}
